.artist .artist__cards .card-info .icons {
    height: 200px;
    width: 200px;
}

.artist .artist__cards .card-info .overlay {
    opacity: 0;
    transition: var(--main-transition);
}

.artist .artist__cards .card-info:hover .overlay {
    opacity: 1;
}

.artist .artist__cards .card-info .icons li:nth-child(2) {
    margin-bottom: 100px;
}

.artist .artist__cards .card-info .icons li:nth-child(2),
.artist .artist__cards .card-info .icons li:last-child {
    text-align: end;
}

.artist .artist__cards .card-info:hover .icons li:nth-child(2),
.artist .artist__cards .card-info:hover .icons li:last-child {
    transform: translateX(calc(-50% + 10px));
    margin: 0;
}

.artist .artist__cards .card-info:hover .icons li:nth-child(3) {
    margin-top: 100px;
}

.artist .artist__cards .card-info:hover .icons li:first-child,
.artist .artist__cards .card-info:hover .icons li:nth-child(3) {
    transform: translateX(calc(50% - 7px));
    margin: 0;
}

.artist .artist__cards .card-info .icons li {
    font-weight: 500;
    color: #fff;
    font-size: 17px;
    transition: var(--main-transition);
}

.artist .artist__cards .card-info .icons::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 2px;
    transform: scale(0);
    opacity: 1;
    transition: var(--main-transition);
}

.artist .artist__cards .card-info:hover .icons::after {
    transform: scale(1) rotate(45deg);
    opacity: 1;
}

.artist .artist__cards .card-info .caption {
    position: absolute;
    top: 65%;
    right: 20%;
    transition: var(--main-transition);
}

.artist .artist__cards .card-info:hover .caption {
    opacity: 0;
}

.artist .artist__cards .card-info .caption h4 {
    background-color: var(--main-color);
    font-family: Raleway;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px 15px;
}

.artist .artist__cards .card-info .caption p {
    background-color: var(--main-color);
    color: #fff;
    font-size: 13px;
    transform: translateX(10px);
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: -2px;
}

/* end  section artist */