.special--title {
    text-align: center;
    padding-bottom: 60px;
}


.special--title h2 {
    letter-spacing: 2px;
    font-size: 60px;
}

.special--title p {
    color: var(--semi-title-color);
    font-size: 33px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}