@import url(font.css);

/* variable start  */
:root {
    --main-color: #D32931;
    --seconadary-color: #777;
    --section-color: #F9F9F9;
    --semi-title-color: #111;
    --main-transition: all .3s
}

/* variable end  */

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 14px;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: General;
}

.special-heading {
    font-family: Great;
    font-size: 60px;
    color: var(--main-color);
    text-transform: capitalize;
}

.sec-heading {
    font-family: Raleway;
    color: #111;
}

.sm-img{
    width: 60px;
    height: 60px;
    margin: auto;
}

.p-80 {
    padding: 80px 0;
}

.pe-80 {
    padding-inline-end: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}