.home .home__slide-1 {
    background-image: url(../../images/Home\ img/slide-2.jpg);

}

.home .home__slide-2 {
    background-image: url(../../images/Home\ img/slide-1.jpg);

}

.home .home__slide-3 {
    background-image: url(../../images/Home\ img/slide-3.jpg);

}

.home .home--slides {
    background-size: cover;
    background-position: center;
    height: 122vh;
}

.home .home--slides .casrousel-info .info-img {
    width: 30%;
    margin-bottom: 50px;
}

.home .home--slides .casrousel-info h1 {
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 25px;

}

.home .home--slides .casrousel-info a {
    margin-top: 35px;
    border-radius: 3px;
    border-color: transparent;
}

.home .home--slides .casrousel-info a:hover {
    border-color: transparent;
}

.home .home--slides p {
    font-size: 18px;

}


.home button {
    height: 13%;
    width: 25px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    overflow: hidden;
    transition: all .5s;
}

.home button .btn-card p {
    font-size: 10px;
    letter-spacing: 2px;
}

.home button .btn-card {
    position: relative;
    left: 0;
    top: 0;
    display: none;
}

.home button:hover .btn-card {
    display: block;
    right: 0;
    transition: all .5s;
}

.home button:hover {
    width: 13%;
}

/* start section 1  */
.about .about__caption .logo img {
    width: 60px;
    height: 60px;
}

.about .about__caption h4 {
    letter-spacing: 1px;
    font-size: 16px;
}

.about .about__caption p {
    font-weight: 550;
    color: var(--seconadary-color);
}

.about .about__image img {
    width: 77%;
}

/* end section 1  */

/* start section dishes  */
.dishes {
    background-color: var(--section-color);
}

.dishes .dishes__caption h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--semi-title-color);
    text-transform: capitalize;
    margin-bottom: 10px;
}

.dishes .dishes__imgs .img-1 {
    padding-bottom: 13%;
}

.dishes .dishes__caption p {
    color: var(--seconadary-color);
}

.dishes .vip {
    padding-bottom: 13%;
}

.dishes .dishes__caption p:last-child {
    font-size: 35px;
}

/* end section dishes  */

/* start event section  */
.event {
    background-image: url(../../images/Home\ img/event-show.jpg);

}

.event .image {
    border: 10px solid #ddd;
}

.event .event__info h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

.event .event__info p {
    color: #fff;
}

.event .event__info .btn-2:hover {
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}

/* end event section  */

/* start reservation section  */
.reservation {
    padding: 120px 0;
    background-image: url(../../images/Home\ img/appoinment.jpg);
}

.reservation .reservation__form {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
}

.reservation .reservation__form input {
    padding: 10px 12px;
}

.reservation .reservation__form .row>div {
    padding: 0 15px;
}

.reservation .reservation__form .btn-spc {
    background-color: var(--main-color);
    color: #fff;
    font-size: 13px;
}

/* end reservation section  */